@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tv55v2');
  src:  url('fonts/icomoon.eot?tv55v2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tv55v2') format('truetype'),
    url('fonts/icomoon.woff?tv55v2') format('woff'),
    url('fonts/icomoon.svg?tv55v2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_history_alt:before {
  content: "\e92e";
}
.icon-ic_home_alt:before {
  content: "\e92f";
  color: #800080;
}
.icon-ic_money_insert:before {
  content: "\e930";
}
.icon-ic_money_withdraw:before {
  content: "\e931";
}
.icon-Illustration-faq:before {
  content: "\e92d";
  color: #800080;
}
.icon-IllustrationContact:before {
  content: "\e928";
  color: #800080;
}
.icon-Illustration-pizza:before {
  content: "\e927";
  color: #800080;
}
.icon-Illustration-small .path1:before {
  content: "\e920";
  color: rgb(41, 41, 41);
}
.icon-Illustration-small .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(41, 41, 41);
}
.icon-Illustration-small .path3:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(128, 0, 128);
}
.icon-Illustration-small .path4:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(128, 0, 128);
}
.icon-Illustration-small .path5:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(128, 0, 128);
}
.icon-Illustration-small .path6:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(128, 0, 128);
}
.icon-Illustration-small .path7:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(128, 0, 128);
}
.icon-ic_exit:before {
  content: "\e91c";
}
.icon-ic_setting:before {
  content: "\e91d";
}
.icon-ic_bell:before {
  content: "\e918";
  color: #800080;
}
.icon-ic_user:before {
  content: "\e919";
  color: #800080;
}
.icon-rovno:before {
  content: "\e916";
  color: #666;
}
.icon-Close-Button .path1:before {
  content: "\e914";
  color: rgb(41, 41, 41);
  opacity: 0.2;
}
.icon-Close-Button .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ic_envelope_check:before {
  content: "\e92c";
  color: #3bd16d;
}
.icon-ic_envelope_alt:before {
  content: "\e929";
  color: #800080;
}
.icon-ic_location_point:before {
  content: "\e92a";
  color: #800080;
}
.icon-ic_phone:before {
  content: "\e92b";
  color: #800080;
}
.icon-ic_times_circle:before {
  content: "\e91f";
  color: #eb4250;
}
.icon-ic_check:before {
  content: "\e91e";
  color: #3bd16d;
}
.icon-ic_eye:before {
  content: "\e91a";
  color: #666;
}
.icon-ic_eye_slash:before {
  content: "\e91b";
  color: #666;
}
.icon-ic_exclamation_triangle:before {
  content: "\e917";
  color: #8f8f8f;
}
.icon-ic_exclamation_circle:before {
  content: "\e913";
  color: #ffa000;
}
.icon-ic_question_circle:before {
  content: "\e912";
  color: #666;
}
.icon-ic_drop_down:before {
  content: "\e911";
  color: #666;
}
.icon-variantfailure .path1:before {
  content: "\e900";
  color: rgb(235, 66, 80);
}
.icon-variantfailure .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-variantsuccess .path1:before {
  content: "\e902";
  color: rgb(128, 0, 128);
}
.icon-variantsuccess .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-VariantsBacked:before {
  content: "\e904";
  color: #800080;
}
.icon-Variantslimited:before {
  content: "\e905";
  color: #800080;
}
.icon-VariantsSecurity:before {
  content: "\e906";
  color: #800080;
}
.icon-VariantsStable:before {
  content: "\e907";
  color: #800080;
}
.icon-VariantsTransfer:before {
  content: "\e908";
  color: #800080;
}
.icon-VariantsSell:before {
  content: "\e909";
  color: #800080;
}
.icon-Variantsfeature:before {
  content: "\e90a";
  color: #800080;
}
.icon-VariantsDeposit:before {
  content: "\e90b";
  color: #800080;
}
.icon-VariantsCredit:before {
  content: "\e90c";
  color: #800080;
}
.icon-VariantsBuy:before {
  content: "\e90d";
  color: #800080;
}
.icon-ic_ustdihgyigu:before {
  content: "\e90e";
}
.icon-ic_menu_shape:before {
  content: "\e90f";
}
.icon-Subtractihgyigu:before {
  content: "\e910";
}
