.back{
    height: 728px;
    margin-top: 50px;
    background-image: url('../../images/homePageImages/network.png');
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    background-position: top center ;
    background-size: cover;
    margin: 0; 
    button{
        height: 56px;
        width: 264px;
        border-radius: 32px;
        padding: 14px 32px 14px 32px;
        margin-top: 20px;
        background-color: rgba(128, 0, 128, 1);
        color: white;
        border: none;
        .btnA{
            font-size: 18px;
            &:hover{
                color: white;
            }
        }
    }
    .first{
        .cryDram{
            font-weight: 700;
            margin-left: 10px;

        }
        .better{
            font-weight: 400;
            line-height: 72px;
        }

    }
    .heroCDramIcon{
        color: rgba(128, 0, 128, 1);
        width: max-content;
        padding: 0;
        background-color: white;
        border-radius: 50%;
    }
}
@media screen and (max-width: 360px) {
    .first{
        .cryDram{
            font-size: 36px;
        }
        .logo{
            width: 120px;
            height: 29px;
            margin-top: 10px;
            margin-right: -5px;
        }
        .better{
            font-size: 40px;
        }
    }
    .back{
        height: 432px;
        .heroCDramIcon{
            font-size: 80px;
        }
    }
    
}

@media screen and (max-width: 768px) {
    .back{
        position: relative;
        .first{
            position: absolute;
            top: 200px;
        }
        .logo{
            width: 100px;
            height: 23px;
            margin-top: 10px;
        }
        .second{
            
            position: absolute;
            top: 70px;
        }
        .heroCDramIcon{
            font-size: 120px;
        }
    }
}

@media screen and (min-width: 768px) {
    .first{
        .heroLogo{
            margin-left: 50px;
        }
        .cryDram{
            font-size: 40px;
        }
        .logo{
            width: 127.33333587646484px;
            height: 29.33333396911621px;
            margin-top: 8px;
            margin-right: -70px;
        }
        
        .better{
            font-size: 40px;
        }
    }
    .heroCDramIcon{
        font-size: 120px;
    }
}
@media screen and (min-width: 1024px) {
    .first{
        .back{
            padding-top: 100px;
        }
        .heroLogo{
            margin-left: 0px;
        }
        .cryDram{
            font-size: 60px;
        }
        
        .logo{
            width: 191px;
            height: 44px;
            margin-top: 20px;
            margin-right: 0;
        }
        .better{
            font-size: 60px;
        }
    }
    .heroCDramIcon{
        font-size: 232px;
        position: absolute;
        top: 27%;
        right: 2%;
    }
    .first{
        position: absolute;
        top: 27%;
        left: 2%;
    }
}

@media screen and (min-width: 1280px) {
    .heroCDramIcon{
        position: absolute;
        top: 27%;
        right: 12%;
    }
    .first{
        position: absolute;
        top: 27%;
        left: 10%;
    }
}

